:root{
    --primary-clr: #2F2FA2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #e2e1dc;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
  }
  
.body{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e1dc;
}
.header h1{
    display: flex;
    color: #f64c72;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
.header h6{
    display: flex;
    color: #f64c72;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #e2e1dc;
    display: flex;
    border-radius: 10px;
    background-color: #242582;
}
.left {
    width: 60%;
    padding: 20px;
}
.calander {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #f64c72;
    border-radius: 5px;
    background-color: #e2e1dc;
}
.calander::before,
.calander::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d6dadb;
    transform: translateY(-50%);
}
.calander::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}
.calander .month {
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capatilize;
}
.calander .month .prev,
.calander .month .next{
    cursor: pointer;
}
.calander .month .prev:hover,
.calander .month .next:hover{
    cursor: pointer;
    color: #cda5a5;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calander .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 550;
    text-transform: capitalize;
}
.calander .weekdays div{
    width: 14.28%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.calander .days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.calander .days .day {
    width: 14.28%;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 2px solid #dbdad7;
}
.calander .days .day:hover {
    background-color: var(--primary-clr);
    font-size: 1.8rem;
    color: #dbdad7;
}
.calander .days .prev-date,
.calander .days .next-date {
    color: #a299be
}
.calander .days .active {
    position: relative;
    font-size: 1.8rem;
    color: #dbdad7;
    background-color: var(--primary-clr);
}
.calander .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 1px var(--primary-clr);
}
.calander .days .today {
    font-size: 1.8rem;
}
.calander .days .event {
    position: relative;
}
.calander .days .event::after {
    content: '';
    position: absolute;
    bottom: 10%;
    width: 75%;
    left: 50%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}
.calander .event:hover::after {
    background-color: #dbdad7;
}
.calander .active.event::after {
    background-color: #dbdad7;
    bottom: 20%;
}
.calander .active.event {
    padding: 10px;
}
.calander .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    padding: 0 20px;
    color: var(--primary-clr);
}
.calander .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #242582;
}
.calander .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today button:hover {
    color: #e2e1dc;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}
.calander .goto-today .today-btn {
    padding: 7px 12px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    color: var(--primary-clr);
}
.calander .goto-today .goto-btn {
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    color: var(--primary-clr);
}
.container .text-area input{
    position: relative;
    justify-content: right;
    align-items: right;
    padding: 10px 20px;
    margin: 100px 3px 100px 100px;
}